.vagrant/
.vscode/
.testvms/
.buildnum
out/
work/
cache/
iso/base/airootfs/usr/bin/operosdiag
iso/base/airootfs/usr/bin/operosdiagauth
iso/node/airootfs/usr/bin/statustty
iso/worker/airootfs/usr/bin/prospector
iso/controller/airootfs/usr/bin/teamster
iso/controller/airootfs/opt/docker-images/*
iso/controller/airootfs/tftpboot
iso/installer/airootfs/root/versions
iso/installer/airootfs/root/installer
iso/installer/airootfs/root/installerdiag.sh
components/ipxe/ipxe/
vendor/
*.pb.go
*.pb.gw.go
keys/
