LABEL existing
TEXT HELP
Boot an existing operating system.
Press TAB to edit the disk and partition number to boot.
ENDTEXT
MENU LABEL Boot existing OS
COM32 syslinux-%ARCHISO_LAYER%/chain.c32
APPEND hd0 0

# http://www.memtest.org/
LABEL memtest
MENU LABEL Run Memtest86+ (RAM test)
LINUX memtest

# http://hdt-project.org/
LABEL hdt
MENU LABEL Hardware Information (HDT)
COM32 syslinux-%ARCHISO_LAYER%/hdt.c32
APPEND modules_alias=syslinux-%ARCHISO_LAYER%/hdt/modalias.gz pciids=syslinux-%ARCHISO_LAYER%/hdt/pciids.gz

LABEL reboot
MENU LABEL Reboot
COM32 syslinux-%ARCHISO_LAYER%/reboot.c32

LABEL poweroff
MENU LABEL Power Off
COM32 syslinux-%ARCHISO_LAYER%/poweroff.c32
